<a href="https://colab.research.google.com/github/alexapruiz/Projetos/blob/master/Python/Colab/Cardio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Criando um Modelo de Regressão Linear

In [ ]:
import pandas as pd
import numpy as np
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
colunas = ['id','idade','genero','altura','peso','pressao_max','pressao_min','colesterol','diabetes','fuma','bebe','ativo','coracao']

cardio = pd.read_csv('cardio_original.csv', sep=';',names=colunas,header=1)

In [ ]:
x = cardio[colunas]
y = cardio['coracao']

In [ ]:
cardio.shape

In [ ]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,test_size=0.3,random_state=20)

In [ ]:
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

In [ ]:
#53.92380952380952
print('Acurácia com Regressão Linear: ' + str(accuracy_score(teste_y,previsoes) * 100))

Acurácia com Regressão Linear: 53.92380952380952

# Testando outro método -> RandomForestClassifier

In [ ]:
#Importando as bibliotecas de Machine Learning
from sklearn.ensemble import RandomForestClassifier

In [ ]:
colunas = ['id','idade','genero','altura','peso','pressao_max','pressao_min','colesterol','diabetes','fuma','bebe','ativo','coração']
cardio = pd.read_csv('cardio_original.csv', sep=';',names=colunas,header=1)

In [ ]:
x = cardio[['id','idade','genero','peso','altura','pressao_max','pressao_min','colesterol','diabetes','fuma','bebe','ativo']]

y = cardio['coração']

In [ ]:
x['IMC'] = (x['peso'] / ((x['altura'] / 100) ** 2))

In [ ]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,test_size=0.7,random_state=20)

In [ ]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=10)
modelo.fit(treino_x, treino_y)
p = modelo.predict(teste_x)

In [ ]:
#72.3204081632653 (test_size=0.7,random_state=20)
acc = np.mean(teste_y == p) * 100
acc

72.3204081632653

# Validação Cruzada

In [ ]:
#Importando as bibliotecas de Machine Learning
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold

In [ ]:
#Usando uma técnica de reamostragem -> Validação Cruzada
resultados = []
kf = RepeatedKFold(n_splits=4, n_repeats=20, random_state=20)

for linhas_treino, linhas_valid in kf.split(x):
  X_treino , X_valid = x.iloc[linhas_treino], x.iloc[linhas_valid]
  y_treino , y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

  modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
  modelo.fit(X_treino, y_treino)
  p = modelo.predict(X_valid)
  acc = np.mean(y_valid == p)
  resultados.append(acc)
  print('Acc: ',acc)

In [ ]:
#0.7242267729584547
np.mean(resultados)

0.7242267729584547

# #Remover registros 'outlier'

In [ ]:
Compara = teste_x.copy()
Compara['Real'] = cardio['coração']
Compara['Previsão'] = p
Compara[Compara['Previsão'] != Compara['Real']]
erros = Compara[Compara['Previsão'] != Compara['Real']]
erros

In [ ]:
erros[(erros['fuma'] == 0) & (erros['bebe'] == 0) & (erros['diabetes'] == 1) & (erros['colesterol'] == 1) & (erros['IMC'] > 30) & (erros['Real'] == 1)]

          id  idade  genero   peso  ...  ativo        IMC  Real  Previsão
44310  63292  21960       1   82.0  ...      1  32.847300     1         0
19527  27894  19170       1  109.0  ...      1  37.716263     1         0
32041  45748  15298       1   81.0  ...      0  32.861374     1         0
52930  75508  22594       1   84.0  ...      1  35.419126     1         0
33498  47859  21949       1   78.0  ...      0  30.468750     1         0
...      ...    ...     ...    ...  ...    ...        ...   ...       ...
21731  31031  19578       1   84.0  ...      1  31.231410     1         0
37430  53454  20517       2   92.0  ...      1  33.792470     1         0
37852  54037  23151       1   75.0  ...      1  32.461911     1         0
4624    6547  17462       1   80.0  ...      1  34.174890     1         0
69988  99985  21013       1   83.0  ...      1  33.672766     1         0

[941 rows x 15 columns]

In [ ]:
#erros[erros['IMC'] > 50]
#np.mean(erros['IMC'])
365 * 45

16425