<a href="https://colab.research.google.com/github/alexapruiz/Projetos/blob/master/Python%5CCollab%5CPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
sal = pd.read_csv('Salaries.csv', sep=',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
sal.describe()

In [ ]:
len(sal)

125322

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125322 entries, 0 to 125321
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                125322 non-null  int64
 1   EmployeeName      125322 non-null  object
 2   JobTitle          125322 non-null  object
 3   BasePay           124717 non-null  float64
 4   OvertimePay       125322 non-null  float64
 5   OtherPay          125322 non-null  float64
 6   Benefits          89163 non-null   float64
 7   TotalPay          125322 non-null  float64
 8   TotalPayBenefits  125321 non-null  float64
 9   Year              125321 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            125321 non-null  object
 12  Status            14790 non-null   object
dtypes: float64(8), int64(1), object(4)
memory usage: 12.4+ MB

In [ ]:
sal['BasePay'].mean()

71374.75264304064

In [ ]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

In [ ]:
sal.groupby('Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0     65436.406857
2013.0     69630.030216
2014.0    109518.466320
Name: BasePay, dtype: float64

In [ ]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [ ]:
def chief_string(title):
  if 'chief' in title.lower():
    return True
  else:
    return False

In [ ]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

605

In [ ]:
sal[sal['JobTitle'].apply(lambda x: chief_string(x))]

In [ ]:
sal['Tamanho da string'] = sal['JobTitle'].apply(len)

In [ ]:
sal[['Tamanho da string', 'TotalPayBenefits']].corr()

                   Tamanho da string  TotalPayBenefits
Tamanho da string           1.000000         -0.048955
TotalPayBenefits           -0.048955          1.000000